<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-308">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/asd.svg" alt="logo" width="100" height="10">
            </a>
            <p class="cs-text">
                Aenean tincidunt id mauris idology auctor. Donec at ligula lacus. Nulla dig nissimmi quis neque interdum. Imong mama.
            </p>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Sitemap</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">About</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">Services</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">Portfolio</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">Contact</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Categories</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">Business Law</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">Education Law</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">Insurance Defense</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">Family Law</a>
            </li>
        </ul>
        <!-- Contact Info -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Contact</span>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/mail.svg" alt="phone" width="24" height="24">
                <a class="cs-nav-link cs-phone" href="tel: 123-456-7890">(123) 456-7890</a>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/mail.svg" alt="email" width="24" height="24">
                <a class="cs-nav-link cs-email" href="mailto:info@codestitch.com">info@yourmom.com</a>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/mail.svg" alt="pin" width="24" height="24">
                <a class="cs-nav-link cs-address" href="" target="_blank" rel="noopener">
                    123 Avenue Street<br> Oak Harbor, WA 98101
                </a>
            </li>
        </ul>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright">© Copyright 1945 - <a class="cs-copyright-link" href="">Joswa Andre Designs</a></span>
    </div>
</footer>
                                
<style>/*-- -------------------------- -->
    <---          Footer            -->
    <--- -------------------------- -*/
    
    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #cs-footer-308 {
            padding: var(--sectionPadding);
            background-color: #1a1a1a;
            /* Navigation Links */
        }
        #cs-footer-308 .cs-container {
            width: 100%;
            /* reset on desktop */
            max-width: 43.75rem;
            margin: auto;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 2.5rem;
        }
        #cs-footer-308 .cs-logo-group {
            /* takes up all the space, lets the other ul's wrap below it */
            width: 100%;
            position: relative;
        }
        #cs-footer-308 .cs-logo {
            width: 11.125rem;
            height: auto;
            display: block;
            margin-bottom: 1.5rem;
        }
        #cs-footer-308 .cs-logo-img {
            width: 40%;
            height: auto;
        }
        #cs-footer-308 .cs-logo-img.dark {
            display: none;
        }
        #cs-footer-308 .cs-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 2.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            width: 78%;
            /* changes to 305px at desktop */
            max-width: 26.25rem;
            color: var(--bodyTextColorWhite);
        }
        #cs-footer-308 .cs-nav {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 0.75rem;
        }
        #cs-footer-308 .cs-nav-li {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }
        #cs-footer-308 .cs-header {
            font-size: 1rem;
            line-height: 1.2em;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 0.75rem;
            color: var(--bodyTextColorWhite);
            position: relative;
            display: block;
        }
        #cs-footer-308 .cs-nav-link {
            font-size: 1rem;
            text-decoration: none;
            line-height: 1.5em;
            color: var(--bodyTextColorWhite);
            position: relative;
            display: inline-block;
            transition: color 0.3s;
        }
        #cs-footer-308 .cs-nav-link:before {
            /* underline */
            content: "";
            width: 0%;
            height: 0.125rem;
            background: currentColor;
            opacity: 1;
            position: absolute;
            display: block;
            bottom: -0.125rem;
            left: 0;
            transition: width 0.3s;
        }
        #cs-footer-308 .cs-nav-link:hover {
            color: var(--primary);
        }
        #cs-footer-308 .cs-nav-link:hover:before {
            width: 100%;
        }
        #cs-footer-308 .cs-icon {
            width: 1.5rem;
            height: auto;
            margin-right: 0.75rem;
        }
        #cs-footer-308 .cs-bottom {
            max-width: 80rem;
            margin: auto;
            margin-top: 2rem;
            padding-top: 1.5rem;
            border-top: 1px solid #484848;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #cs-footer-308 .cs-copyright,
        #cs-footer-308 .cs-copyright-link {
            font-size: 1rem;
            line-height: 1.5em;
            color: var(--bodyTextColorWhite);
        }
        #cs-footer-308 .cs-copyright-link {
            text-decoration: none;
            transition: color 0.3s;
        }
        #cs-footer-308 .cs-copyright-link:hover {
            color: var(--primary);
        }
    }
    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
        #cs-footer-308 .cs-container {
            row-gap: 0;
            flex-direction: row;
            justify-content: space-between;
            row-gap: 2.5rem;
        }
        #cs-footer-308 .cs-nav {
            width: auto;
        }
    }
    /* Small Desktop - 1024px */
    @media only screen and (min-width: 64rem) {
        #cs-footer-308 .cs-container {
            max-width: 80rem;
            flex-wrap: nowrap;
            /* align everything to the right */
            justify-content: flex-end;
            column-gap: 5.25rem;
        }
        #cs-footer-308 .cs-logo-group {
            width: 30%;
            max-width: 24.1875rem;
            /* pushes away from everything to the right */
            margin-right: auto;
        }
        #cs-footer-308 .cs-text {
            width: 100%;
        }
    }
    
                                    </style>