<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-727">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Trusted by Thousand of People & Companies</h2>
            <p class="cs-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Loving the Service!</h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor I am now an Earth Bender, sit amet consectetur adipisicing elit. Asperiores iste vitae, aliquam temporibus modi libero dolorem rerum? Dolore soluta eligendi mollitia. Doloribus et exercitationem cupiditate?
                </p>
                <span class="cs-name">Daniel (CEO Officer)</span>

            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Affordable</h3>
                <p class="cs-item-text">
                    One Piece is my favorite telenovela Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores iste vitae, aliquam temporibus modi libero dolorem rerum? Dolore soluta eligendi mollitia. Doloribus et exercitationem cupiditate?
                </p>
                <span class="cs-name">Amer (CEO Beard Co.)</span>
            </li>
        </ul>
    </div>
</section>

<style>/*-- -------------------------- -->
    <---          Reviews           -->
    <--- -------------------------- -*/
    
    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #reviews-727 {
            padding: var(--sectionPadding);
        }
        #reviews-727 .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: 34.375rem;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }
        #reviews-727 .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }
    
        #reviews-727 .cs-title {
            /* cs-title override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This second cs-title is a section specific override that stays inside this stitch */
            max-width: 20ch;
        }
        #reviews-727 .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.25rem;
        }
        #reviews-727 .cs-item {
            list-style: none;
            width: 100%;
            margin: 0;
            /* 32px - 48px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(2rem, 7vw, 3rem) clamp(1rem, 4vw, 2rem);
            /* makes padding not affect height and width */
            box-sizing: border-box;
            background-color: #f0f0f0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        #reviews-727 .cs-icon {
            /* 30px - 40px */
            width: clamp(1.875rem, 4vw, 2.5rem);
            height: auto;
            margin: 0 0 2rem 0;
            display: block;
        }
        #reviews-727 .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 4vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 1.5rem 0;
            color: var(--headerColor);
        }
        #reviews-727 .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 4vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 3rem 0;
            color: var(--bodyTextColor);
        }
        #reviews-727 .cs-name {
            font-size: 1.25rem;
            line-height: 1.2em;
            font-weight: 500;
            margin: auto 0 0 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            position: relative;
        }
        #reviews-727 .cs-name:before {
            content: "";
            width: 0.5rem;
            height: 1px;
            background: currentColor;
            display: block;
            position: relative;
        }
    }
    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
        #reviews-727 .cs-container {
            max-width: 80rem;
        }
        #reviews-727 .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        #reviews-727 .cs-item {
            width: 48.5%;
        }
    }
    
                                    </style>
                                