<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-977">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Our Expert Avatar Members</h2>
            <p class="cs-text">
                At Kompyotar Avatar Service, we strive to give the best experience and service to ever client that flies in the water. Meet the team members that make it all possible.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/stylist1.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/stylist1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/stylist1.jpg" alt="stylist" width="320" height="400">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Moe Lester</span>
                    <span class="cs-job">Solutions Air Bender</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/linkedin-gold.svg" alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-gold.svg" alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-gold.svg" alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-gold.svg" alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/stylist2.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/stylist2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/stylist2.jpg" alt="stylist" width="320" height="400">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Wilson D. Bus</span>
                    <span class="cs-job">Digital Earth Bender</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/linkedin-gold.svg" alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-gold.svg" alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-gold.svg" alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-gold.svg" alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/stylist3.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/stylist3.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/stylist3.jpg" alt="stylist" width="320" height="400">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Liggie Mabbals</span>
                    <span class="cs-job">Fire Bender Consultant</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/linkedin-gold.svg" alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-gold.svg" alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-gold.svg" alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-gold.svg" alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/stylist4.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/stylist4.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/stylist4.jpg" alt="stylist" width="320" height="400">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Water D. Odds</span>
                    <span class="cs-job">Water Bender Lang</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/linkedin-gold.svg" alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-gold.svg" alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-gold.svg" alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-gold.svg" alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
<style>
    /*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #meet-team-977 {
        padding: var(--sectionPadding);
        overflow: hidden;
    }
    #meet-team-977 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #meet-team-977 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        max-width: 40.625rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }
    #meet-team-977 .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 0.25rem;
        display: block;
    }
    #meet-team-977 .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }
    #meet-team-977 .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 40.625rem;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #meet-team-977 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    #meet-team-977 .cs-item {
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }
    #meet-team-977 .cs-item:hover {
        cursor: pointer;
    }
    #meet-team-977 .cs-item:hover .cs-picture:before,
    #meet-team-977 .cs-item:hover .cs-picture:after {
        opacity: 1;
    }
    #meet-team-977 .cs-item:hover .cs-picture img {
        transform: scale(1.1);
    }
    #meet-team-977 .cs-picture {
        width: 100%;
        height: 25rem;
        /* removed at tablet */
        aspect-ratio: 0.82;
        /* clips img tag from overflowing it on hover */
        overflow: hidden;
        display: block;
        position: relative;
        z-index: 1;
    }
    #meet-team-977 .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
        object-position: top;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: transform 0.7s;
    }
    #meet-team-977 .cs-info {
        width: 90%;
        max-width: 15rem;
        padding: 1.5rem;
        /* prevents padding from affecting the height and width */
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
    }
    #meet-team-977 .cs-info:before {
        /* background-color */
        content: "";
        width: 100%;
        height: 100%;
        background: #1a1a1a;
        opacity: 0.8;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: -1;
        transition:
            background-color 0.3s,
            opacity 0.3s;
    }
    #meet-team-977 .cs-name {
        /* 20px - 25px */
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 700;
        margin: 0 0 0.5rem 0;
        color: #fff;
        display: block;
    }
    #meet-team-977 .cs-job {
        font-size: 1rem;
        line-height: 1.5em;
        margin: 0;
        color: #fff;
        display: block;
    }
    #meet-team-977 .cs-social-group {
        margin: 0.5rem 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    #meet-team-977 .cs-link {
        width: 2rem;
        height: 2rem;
        background-color: #e8e8e8;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #meet-team-977 .cs-link:hover .cs-icon {
        filter: grayscale(0);
        transform: translateY(-0.25rem);
    }
    #meet-team-977 .cs-icon {
        width: 0.75rem;
        height: auto;
        filter: grayscale(1);
        transition:
            filter 0.3s,
            transform 0.3s;
        z-index: 10;
    }
}
/* Tablet - 550px */
@media only screen and (min-width: 34.375rem) {
    #meet-team-977 .cs-card-group {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
    }
    #meet-team-977 .cs-item {
        width: 50%;
    }
    #meet-team-977 .cs-picture {
        /* remove the aspect ratio so the height can be squished */
        aspect-ratio: initial;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #meet-team-977 .cs-container {
        max-width: 80rem;
    }
    #meet-team-977 .cs-item {
        width: 25%;
    }
    #meet-team-977 .cs-item:hover .cs-info:before {
        background-color: var(--primary);
        opacity: 1;
    }
    #meet-team-977 .cs-item:hover .cs-social-group {
        height: 2rem;
        margin-top: 0.5rem;
    }
    #meet-team-977 .cs-item:hover .cs-link {
        opacity: 1;
        transform: translateX(0);
    }
    #meet-team-977 .cs-social-group {
        height: 0;
        margin-top: 0;
        transition:
            height 0.3s,
            marign-top 0.3s;
    }
    #meet-team-977 .cs-link {
        opacity: 0;
        transform: translateX(-0.5rem);
        transition:
            opacity 0.6s,
            transform 0.4s;
    }
    #meet-team-977 .cs-link:nth-of-type(2) {
        transition-delay: 0.1s;
    }
    #meet-team-977 .cs-link:nth-of-type(3) {
        transition-delay: 0.2s;
    }
    #meet-team-977 .cs-link:nth-of-type(4) {
        transition-delay: 0.3s;
    }
}

                                
</style>